* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  body {
    min-width: 300px;
    min-height: 300px;
    position: relative;

  }

  .intro-box {
    position: absolute;
  }

  .intro-box h1 {
    position: absolute;
  }

  .intro-box p {
    position: absolute;

  }
}

body {
  background: url("nyc.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.nav{

}

.intro-box {
  display:  block;
  position: absolute;
  text-align: center;
  border: 5px solid #f1f1f1;
  border-radius: 50px;
  margin: 30px 30px 30px 30px;
  padding: 30px 30px 30px 30px;
  height: 95%;
  width: 95%;
  -webkit-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.65);
}


.intro-box .left-nav a {
  float: left;
  list-style-type: none;
  font-family: sans-serif;
  text-decoration: none;
  color: #f1f1f1;
  padding: 0 5px 0 50px;
  text-shadow: 5px 5px 10px #000;
  transition: .30s ease-in-out;
}

.intro-box .left-nav a:hover {
  text-decoration: line-through;
  color: #f2f2f2;
  text-shadow: -2px 7px 5px #000;
}

.intro-box .right-nav a {
  float: right;
  list-style-type: none;
  font-family: sans-serif;
  text-decoration: none;
  color: #f2f2f2;
  padding: 0 50px 0 5px;
  text-shadow: 5px 5px 10px #000;
  transition: .30s ease-in-out;
}

.intro-box .right-nav a:hover {
  text-decoration: line-through;
  color: #ffffff;
  text-shadow: 6px 7px 5px #000;
}

.intro-box h1 {
  display: flex;
  margin: 40px 0 0 0;
  padding:  40px 0 0 0;
  color: #f1f1f1;
  font-size: 100px;
  font-family: sans-serif;
  font-weight: 600;
  text-shadow: 4px 4px 5px #000;
}

.intro-box p {
  margin: 40px 0 0 0;
  padding:  40px 0 0 0;
  color: #f1f1f1;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 400;
  text-align: left;
  text-shadow: 4px 4px 5px #000;

}
